.active{
    color: red;
}

.NotActive{
    color: black;
}

nav.border-gray-200.bg-white.px-2.py-2\.5.dark\:border-gray-700.dark\:bg-gray-800.sm\:px-4.rounded {
    background-color: rgb(249, 249, 249) !important;
}